    <!-- Download Section -->
    <section id="credits" class="content-section text-center">
        <div class="download-section">
		<h2>Credits</h2>
		<div class="mySlides">
			<h3>Our project was made possible with the support of the following people</h3>
		</div>
		<div class="mySlides">
			<h3>Our Capstone Professors</h3>
			<p>Cornelia Ilin and Zona Kostic</p>
			<a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">LinkedIn Page</a>
		</div>
		<div class="mySlides">
			<h3>Our Peers in the UC Berkeley</h3>
			<p>MIDS Program Class of 2023</p>
		</div>
		<div class="mySlides">
			<h3>AWS Expert</h3>
			<p>Robert Wang</p>
			<a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">LinkedIn Page</a>
		</div>
		<div class="mySlides">
			<h3>Developers behind Ultralytics</h3>
			<a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Github Page</a>
		</div>
		<div class="mySlides">
			<h3>Developers behind Fiftyone Toolkit</h3>
			<a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Main Page</a>
		</div>
		<div class="mySlides">
			<h3>Developers behind Lidar and Text-To-Speech (TTS)</h3>
			<a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Main Page</a>
		</div>
		<div class="mySlides">
			<h3>Developers behind base object detection and Lidar code</h3>
			<a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Github Page</a>
		</div>

	<div class="dot-container">
		<span class="dot" onclick="currentSlide(1)"></span>
		<span class="dot" onclick="currentSlide(2)"></span>
		<span class="dot" onclick="currentSlide(3)"></span>
		<span class="dot" onclick="currentSlide(4)"></span>
		<span class="dot" onclick="currentSlide(5)"></span>
		<span class="dot" onclick="currentSlide(6)"></span>
		<span class="dot" onclick="currentSlide(7)"></span>
		<span class="dot" onclick="currentSlide(8)"></span>
	</div>
	
	</div>

    </section>
