    <!-- Download Section -->
    <section id="credits" class="content-section text-center">
        <div class="download-section">
		<div class="slideshow-container">
			<div class="mySlides">
				<p>Our Capstone Professors</p>
				<p>Cornelia Ilin and Zona Kostic</p>
				<a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">LinkedIn Page</a>
			</div>

			<div class="mySlides">
				<q>But man is not made for defeat. A man can be destroyed but not defeated.</q>
				<p class="author">- Ernest Hemingway</p>
			</div>

			<div class="mySlides">
				<q>I have not failed. I've just found 10,000 ways that won't work.</q>
				<p class="author">- Thomas A. Edison</p>
			</div>

			<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
			<a class="next" onclick="plusSlides(1)">&#10095;</a>
			</div>

			<!-- Dots/bullets/indicators -->
			<div class="dot-container">
			  <span class="dot" onclick="currentSlide(1)"></span>
			  <span class="dot" onclick="currentSlide(2)"></span>
			  <span class="dot" onclick="currentSlide(3)"></span>
			</div>     
		</div>
        </div>
    </section>
