    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Our Product</h2>
		    <p>The Eye Robot is a visual impairment assistant that utilizes object detection, distance estimation, and text-to-speech (TTS) to help its users navigate through indoor settings.</p>
		    <p> Two versions of the applications are available for download: <br>Eye Robot Pro and Eye Robot Lite.</p>
		    <p> The Eye Robot Pro supports all 3 capabilities and is available for download on iPhone Pro Max models. The Eye Robot Lite only supports 2 capabilities, object detection and TTS, due to technical limitations and is available for download on all other iPhone models.</p>
		    <p>You can click the link below to view a demonstration of our product</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">View Demo</a>
                </div>
            </div>
        </div>
    </section>
